@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800');

html, body{
	height: 100%;
	color: #222;		
}

*{
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow:hidden;
}

nav{
	background: #fff;
	display:none;
	position:absolute;
	z-index:99;
	width:100vw;
	height:100vh;
	top:0px;
	left:0px;
}

#login, #logout{
	line-height:14px;
	position:absolute;
	top:35px;
	left:35px;
	cursor:pointer;
	border:none;
	background:#fff;
}

#btn-logout{
	border:none;
	background:#fff;
	cursor:pointer;

}

#btn-logout{
	line-height:14px;
}

#login i, #btn-logout i{
	margin-right:5px;
}

#menu{
	z-index:100;	
	position:absolute;
	top:35px;
	right:35px;
	height:15px;
	width:20px;
	cursor:pointer;
}

#menu #burger-wrapper{
	width:100%;
	height:100%;
}

#menu #burger-wrapper .line{
	position:relative;
	width:100%;
	height:3px;
	background:#000;
	transition-duration: .3s;
}

#menu #burger-wrapper .line:nth-child(2){
	margin: 3px 0px;
	transition-duration: .3s;
}

#menu #burger-wrapper .line:first-child{
	top:0px;
}

#menu #burger-wrapper .line:last-child{
	bottom:0px;
}

#menu:hover #burger-wrapper .line:first-child, #menu:hover #burger-wrapper .line:last-child{
	transform:translateX(0px);
}

#menu:hover #burger-wrapper .line:nth-child(2){
	transform:translateX(3px);
}

#menu #burger-wrapper .line:nth-child(2).burger-open{
	transform:translateX(-18px);
	opacity:0;
}

#menu #burger-wrapper .line:first-child.burger-open, #menu #burger-wrapper .line:last-child.burger-open{
	transform:translateX(3px);
}

#menu #burger-wrapper .line:first-child.burger-open{
	transform:rotate(45deg);
	top:6px;
}

#menu #burger-wrapper .line:last-child.burger-open{
	transform:rotate(-45deg);
	bottom:6px;
}

#nav{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position:absolute;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
}

#nav li{
	list-style: none;
	padding:10px 0px;
	color: #000;
	cursor:pointer;
	font-weight: bold;
	font-size: 24px;
/*	-webkit-transition:  border 5s ease;
 	-moz-transition:   5s ease;
	-o-transition:  -top solid black 5s ease;
	-ms-transition: border-top solid black 5s ease;*/
	transition-duration: all 5s ease; 

}

#nav li:hover{
	font-size: 26px;
	border-top :solid black;
	border-bottom: solid black;
	
}

#menu-item-1{
	height:100vh;
	width:80vw;
	
}

#menu-item-1 .section-bg{
	position:relative;
	margin-top:25%;
	height:50%;
	width:90%;
	margin-right:10%;
	background:salmon;
}

#menu-item-1 .info-box{
	position:relative;
	width:40%;
	height:75%;
	top:40%;
	left:10%;
	background:#c1c1c1;
}

#menu-item-1 .section-img{
	position:relative;
}

#wdw-login{
	position: absolute;
	display:none;
	flex-direction: column;
	width: 600px;
	padding: 50px;
	border: 1px solid #999999;
	background-color: white;
}		

input{
	width: 100%;
	height: 50px;
	padding: 10px;
}

#wdw-login button{
	width: 100%;
	height: 50px;
	color: white;
	border: none;
	background-color: #26B400;
	cursor: pointer;
}
.flex{
	display:flex;
}

.space-top-20{
	margin-top: 20px;
}